<!-- 发布帖子谁可以看 -->
	<div class="showFriend JSsee JSsee_xz">
		<div class="Edit_01 Edit_01_pyq">
			<div class="showFriendTop">
				<a class="cancelBtn" href="javascript:;">取消</a><span>部分好友可见</span>
				<a class="confirmBtn" href="javascript:;">确定</a><br class="clear">
			</div>
			
			<!-- <a class="EditTags" href="javascript:;">编辑标签</a> -->
		</div>
		<div class="visibleBox">
			<div class="selectLabel_t">
				<p class="selectLabel">选择标签</p>
				<ul>
				
				</ul>
				<div class="label_t unfold">展开</div>
			</div>
			<!-- 选择联系人 -->
			<div class="Edit_02 Edit_02_pyq">
				<div class="choose">
					<p class="selectLabel">选择好友
						<a class="pyq_determine determine" href="javascript:;">保存</a>
					</p>	
				</div>
				<div class="TagName">
					<em></em>
					<span>*</span>标签名字<input type="text" placeholder="设置标签名"/>
				</div>
				<div class="choose_box">
					<div class="choose_list">
						<div class="xz_img_list pyq_img_list">
							
						</div>
						<input type="text" name="" placeholder="搜索">
					</div>
					<!-- <div class="Group_import">
						<a href="javascript:;">从群里导入</a>
					</div> -->
					<div class="friend_list clear">
						<ul class="list_01">
							
						</ul>
						<ul class="list_02">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	

	<div class="showFriend JSsee JSsee_tj">
		<div class="Edit_01 Edit_01_pyq">
			<div class="showFriendTop">
				<a class="cancelBtn" href="javascript:;">取消</a><span>选择联系人</span>
				<a class="confirmBtn" href="javascript:;">确定</a><br class="clear">
			</div>
			
		</div>
		<div class="visibleBox">
			<!-- 选择联系人 -->
			<div class="Edit_02 Edit_02_pyq">
				<div class="choose_box">
					<div class="choose_list">
						<div class="xz_img_list pyq_img_list">
							
						</div>
						<input type="text" name="" placeholder="搜索">
					</div>
					<!-- <div class="Group_import">
						<a href="javascript:;">从群里导入</a>
					</div> -->
					<div class="friend_list clear">
						<ul class="list_01">
							
						</ul>
						<ul class="list_02">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>






	
	<div id="mask"></div>

	<div class="VisibleFriends">
		<p>该动态可见好友<a href="javascript:;">关闭</a></p>
		<ul>
			
		</ul>
	</div>