/*显示谁可以看的好友选框开始*/
.showFriend{width: 330px;height: 420px;box-sizing: border-box;border:1px solid #e5e5e5;position: fixed;top:50%;left: 50%;margin-top:-215px;margin-left:-165px;z-index: 10002;background: #ffffff;display: none;overflow:hidden;}
.visibleBox{height:370px;overflow-y: scroll;overflow-x: hidden;margin-top: 10px;}
.cancelBtn{height: 39px;line-height: 39px;margin-right: 80px;}
.showFriendTop span{font-size: 13px;}
.confirmBtn{width: 48px;height: 20px;display: inline-block;border-radius: 2px;float: right;background: #3ea435;text-align: center;line-height: 20px;color:#ffffff;margin-top: 9px;}
.selectLabel_t ul{margin-top: 15px;margin-bottom:-5px;}
.selectLabel_t ul li{margin-bottom: 10px;}
.selectLabel_t ul li b{display:inline-block;float: left;margin-top: 11px;margin-right: 10px;width: 16px;height: 16px;border-radius:2px;background:#fff url(/img/qz_xzxq_weixuanzhong.png) no-repeat left center;cursor: pointer;}
.selectLabel_t ul li b.on{background:#fff url(/img/qz_xzxq_xuanzhong.png) no-repeat left center;cursor: pointer;}
.selectLabel_t ul li dl{float: left;}
.selectLabel_t ul li dl dd{white-space:nowrap;overflow: hidden;width: 230px;text-overflow:ellipsis;color:#a8a8a8;}
.selectLabel_t ul li dl dd span{margin-right:5px;}
.selectLabel_t ul li dl dd.friendType{line-height: 19px;font-size:14px;font-weight:600;color: #333;}
.friendName{line-height: 18px;font-size: 11px;}
.selectLabel_t ul li a{float: right;color:#5d78a9;}
.showFriend .Edit_01 .showFriendTop,.selectLabel_t ul{padding: 0 6px 0 14px;}
.EditTags{font-size: 12px;line-height:30px;color:#1592e4;text-indent: 26px;display: block;}
/*选择联系人*/
.showFriend .choose_box{padding: 0 14px;font-size: 12px;}
.showFriend .Edit_03 .choose,.showFriend .Edit_04 .choose{text-align: center;line-height:39px;height:39px;border-bottom: 1px solid #e5e5e5;padding:0 14px;}
.showFriend .Edit_03 .choose .cancel,.showFriend .Edit_04 .choose .cancel{float:left;font-size: 12px;}
.showFriend .Edit_03 .choose .determine,.showFriend .Edit_04 .choose .determine{float:right;font-size: 12px;display: inline-block;width:48px;height:20px;color:#fff;background:#3ea435;border-radius: 2px;line-height:20px;margin-top: 10px;}
.showFriend .Edit_02 .choose_box .choose_list{color:#999;border-bottom:1px solid #e5e5e5;height:48px;}
.showFriend .Edit_02 .choose_box .choose_list input{float:left;height:20px;background:url(/img/sousuo.png) no-repeat left;padding-left: 16px;margin:15px 0;width:62px;}
.showFriend .Edit_02 .choose_box .choose_list .xz_img_list{float: left;max-width:192px;overflow-wrap: break-word;overflow: hidden;height:48px;}
.showFriend .Edit_02 .choose_box .choose_list .xz_img_list img{float: left;width:40px;height:40px;border-radius: 3px;margin:4px 8px 4px 0;}
.showFriend .Edit_02 .choose_box .Group_import a{display:block;color:#999;padding:10px 0;border-bottom:1px solid #e5e5e5;background:url(/img/zheye_sj.png) no-repeat center right;}
.showFriend .Edit_02 .choose_box .friend_list ul li{height:40px;width:107px;margin:20px 12px 0 0;padding-left:16px;background:url(/img/qz_xzxq_weixuanzhong.png) no-repeat left center;line-height:40px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float: left;cursor: pointer;}
.showFriend .Edit_02 .choose_box .friend_list ul li img{width:40px;height:40px;border-radius:3px;margin:0 6px 0 10px;}
.showFriend .Edit_02 .choose_box .friend_list ul li.checkOn{background:url(/img/qz_xzxq_xuanzhong.png) no-repeat left center;}
/*选择群*/
.SelectGroup{width:300px;height:360px;background:#fff;position: fixed;top:50%;left:50%;margin-left:-150px;margin-top:-180px;z-index: 9999;overflow:hidden;overflow-y:scroll;}
.SelectGroup .Select_title{text-align:center;height:40px;padding:0 15px;border-bottom:1px solid #e5e5e5;line-height: 40px;}
.SelectGroup .Select_title .back{color:#1493e2;float:left;}
.SelectGroup .Select_title .determine{float:right;width:48px;height:21px;color:#fff;border-radius:2px;background:#3ea435;margin-top: 10px;line-height: 21px;}
.SelectGroup ul{padding:0 15px;}
.SelectGroup ul li{height:40px;margin-top:20px;line-height:40px;color:#666;padding-left:22px;background:url(/img/qz_xzxq_weixuanzhong.png) no-repeat left center;white-space:nowrap;}
.SelectGroup ul li span{color:#999;}
.SelectGroup ul li img{width:40px;height:40px;border-radius:3px;margin-right:10px;}
.SelectGroup ul li.checkOn{background:url(/img/qz_xzxq_xuanzhong.png) no-repeat left center;}
.Select_mask{position: fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.5);z-index:9998;}


/*滚动条样式*/
.SelectGroup::-webkit-scrollbar,.showFriend::-webkit-scrollbar{width:5px;}
.SelectGroup::-webkit-scrollbar-track,.showFriend::-webkit-scrollbar-track{background-color:#fff;}
.SelectGroup::-webkit-scrollbar-thumb,.showFriend::-webkit-scrollbar-thumb{background-color:#999;}
.SelectGroup::-webkit-scrollbar-thumb:hover,.showFriend::-webkit-scrollbar-thumb:hover{background-color:#9c3}
.SelectGroup::-webkit-scrollbar-thumb:active,.showFriend::-webkit-scrollbar-thumb:active{background-color:#00aff0}

/*创建 标签*/
.Edit_03 ul{margin-left: 15px;}
.Edit_03 ul li{text-align: center;width:42px;border:1px solid #fff;height:42px;margin:15px 12px 15px 0;float:left;position: relative;}
.Edit_03 ul.xzcontact li{border:1px solid #E5E5E5;position: relative;}
.Edit_03 ul li img{width:42px;height:42px;}
.Edit_03 ul li .DeletePoint{width:20px;height:20px;display: inline-block;position: absolute;right:-10px;top:-11px;background: url(/img/qz_pyq_jianhao.png) no-repeat center;cursor: pointer;display: none;}

/*修改标签*/
.editFriends .TagName{padding:16px 15px 0 15px;}
.editFriends .TagName input{width:204px;height:22px;margin-left: 8px;border: 1px solid #E5E5E5;}
.editFriends ul li{text-align: center;width:42px;border:1px solid #fff;height:42px;margin:15px 10px 15px 0;float:left;position: relative;}
.editFriends ul.xzcontact li{border:1px solid #E5E5E5;position: relative;}
.editFriends ul li img{width:42px;height:42px;}
.editFriends ul li .DeletePoint{width:42px;height:42px;display: inline-block;position: absolute;background: url(/img/hykj_del.png) no-repeat center;cursor: pointer;top: 0;left: 0;display: none;}
.editFriends ul li.RemoveLabel{width:32px;border: 1px solid #e5e5e5;padding:0 6px;cursor: pointer;color:#999;margin-right: 0;}

.popMask{width:100%;height:100%;background:rgba(0,0,0,0.5);z-index: 10002;    position: fixed;top: 0;left: 0}
.commonNotice{width:256px;height:213px;background:#fff;position:fixed;top:50%;left: 50%;margin-top:-107px;margin-left: -128px;z-index: 10006;}
.commonNotice a.huntClose{display: inline-block;width:10px;height:10px;background: url(/img/choseDel.png) no-repeat center;float: right;margin:10px 10px 0 10px;}
.commonNotice .friendNotice{height:95px;width:100%;background:url(/img/wen_03_03.png) no-repeat center;margin-top: 20px;}

.commonNotice .noticeArtic{text-align: center;margin:0 10px 30px 10px;font-size: 13px;}
.commonNotice .controlArea{height:56px;text-align: center;background: #f2f1f6;}
.commonNotice .controlArea button{width:72px;height:26px;border-radius:2px;margin:0 7px;border:none;margin-top: 15px;cursor: pointer;}
.commonNotice .controlArea #btnSure{background:#3ea436;color:#fff;border:1px solid #3ea436;}
.commonNotice .controlArea #btnCancel{background:#fff;color:#333;border:1px solid #E5E5E5;}
.seeDynamic{font-size: 11px;cursor: pointer;position: relative;background:url(/img/seeDynamic.png) center right no-repeat;display: inline-block;padding-right:15px;margin-right: 15px;}
.seeDynamic ul{position: absolute;width:84px;height:72px;background: #fff;border:1px solid #E5E5E5;padding:0 10px;z-index: 600;top:20px;left:-17px;display: none;}
.seeDynamic ul li{line-height: 25px;}
.seeDynamic em{font-style: normal;}

/*动态可见好友*/
.VisibleFriends{width:300px;height:430px;background: #fff;position: fixed;top:50%;left: 50%;margin-top:-215px;margin-left: -150px;box-shadow: 1px -1px 9px #999;display: none;z-index: 10000;}
.VisibleFriends p{font-size: 15px;color:#666;padding:12px 15px;text-align: center;border-bottom: 1px solid #E5E5E5;}
.VisibleFriends p a{float:right;color:#3fa634;font-size: 12px;margin-top:3px;}
.VisibleFriends ul{height:370px;margin:0px 0px 0 15px;overflow-y:scroll;padding-top: 15px;}
.VisibleFriends ul li{height:40px;line-height: 40px;margin-bottom: 20px;}
.VisibleFriends ul li img{width:40px;height: 40px;border-radius: 3px;margin-right: 10px;}


/*2017-8-4*/
.selectLabel{height:30px;line-height: 30px;background:#f5f5f5;text-indent: 34px;}
.Edit_02_pyq .selectLabel{margin-top: 16px;}
.showFriend .Edit_02 .choose .determine{color:#5d78a9;float: right;margin-right:10px;}
.TagName{padding:16px 15px 0 0;}
.TagName>em{background:url(/img/qz_xzxq_weixuanzhong.png)left bottom no-repeat;display: inline-block;width:15px;height:15px;margin-left: 14px;cursor: pointer;}
.TagName>em.checkOn{background: url(/img/qz_xzxq_xuanzhong.png)left bottom no-repeat;}
.TagName>span{color:red;}
.TagName input{width:172px;height:22px;margin-left: 8px;border: 1px solid #E5E5E5;}
.editFriends{display: inline-block;display: none;}

.visibleBox .redact{margin:0;}
.JSsee_tj .showFriendTop{border-bottom: 1px solid #e5e5e5;}
.JSsee_xz .labelIn{display: none;}
.JSsee_xz .label_t{display: none;text-align: center;padding:10px 0;border-top: 1px solid #E5E5E5;margin-top: 10px;color:#5d78a9;cursor: pointer;font-size: 12px;}