
/*头部*/
.headerBoxs{width: 100%;height:100px;background: #fff;border-bottom:8px solid #f7f7f7;}
.headerCon{width:100%;max-width: 1000px;margin: 0 auto;position: relative;height: 100px;}
.logo{display: block;height: 52px;width:110px;position: absolute;left: 0;top:24px;}
.headerCon div{float: right;line-height: 100px;font-size: 16px;color: #999;}
.headerCon div a{font-size: 16px;color:#323232;margin-left: 5px;}

/*主体部分*/
.mainBox{width: 100%;height: auto;background: #fff;}
.main{width:100%;max-width:1000px;margin: 0 auto;min-height:600px;height: auto;}
.step{width: 100%;height: 30px;border-bottom:1px solid #e5e5e5;padding-top: 50px;}
.step div{width:490px;height:30px;margin: 0px auto;position: relative;}
.step ul li{padding-left: 22px;float: left;font-size: 12px;margin-right: 56px;line-height: 30px;}
.step ul li.step1{background:#fff url(/img/buzhouon_01.jpg) no-repeat left center;}
.step ul li.step2{background:#fff url(/img/buzhou_02.jpg) no-repeat left center;}
.step ul li.step3{background:#fff url(/img/buzhou_03.jpg) no-repeat left center;}
.step ul li.step4{background:#fff url(/img/buzhou_right.jpg) no-repeat left center;margin-right: 0px;}
.step i{position: absolute;display: block;width:38px;height: 1px;background:#ff8901;bottom: 0;left: 24px;}
.step i.on2{left:162px;}
.step i.on3{left:298px;}
.step i.on4{left:435px;}
.step ul li.step2.onbg2{background:#fff url(/img/buzhouon_02.jpg) no-repeat left center;}
.step ul li.step3.onbg3{background:#fff url(/img/buzhouon_03.jpg) no-repeat left center;}
.step ul li.step4.onbg4{background:#fff url(/img/buhzouon_right.jpg) no-repeat left center;margin-right: 0px;}
/*tab切换部分*/
.formBox{width:428px;margin:70px auto 0;}
.formBox .stepCon01,.formBox .stepCon2{width:398px;margin:0px auto;}
.stepCon2,.stepCon3,.stepCon4{display:none;}
/*手机号验证*/
.mainBox ul li{margin-bottom:26px;position:relative;}
ul li label{display: inline-block;width:100px;text-align: right;font-size: 12px;margin-right:14px;}
.stepCon01 ul li label,.stepCon2 ul li label{width:70px;}
ul li input{display: inline-block;width: 270px;height:38px;border: 1px solid #a8a8a8;padding: 0 4px 0 32px;}
ul li select.chooseBtn{display: inline-block;width: 308px;height:38px;border: 1px solid #a8a8a8;padding: 0 4px 0 32px;}
.falg{display: block;position: absolute;left: 96px;top:12px;}
.phoneimg{display: block;position: absolute;left: 96px;top:12px;}
.passwordimg{display: block;position: absolute;left: 96px;top:13px;}
.lockimg{display: block;position: absolute;left: 96px;top:10px;}
ul li input#code{width: 182px;margin-right:8px;}
ul li button.identifyingCode{display: inline-block;width:80px;height:40px;text-align: center;line-height: 40px;background:#40a336;color: #fff;border-radius: 5px;border: 0px;}
ul li .btn-small{ line-height:25px; height:25px; margin-top:2px; width:80px; font-size:12px;}
ul li button.get-code{background:#40a336; color:#fff; display:inline;cursor: pointer;}
ul li button.reset-code{color:#fff;background: #999;}


.btn input{width:314px;height:40px;display: block;text-align: center;line-height: 40px;background: #40a336;color: #fff;border-radius: 5px;margin:0 0 0 84px;font-size: 14px;}
.protocol{margin:16px 0 0 84px;cursor: pointer;}
.protocol span{display: inline-block;width:12px;height: 12px;background: url(/img/checkOn.png) no-repeat 0 center;margin-right: 5px;}
.protocol span.on{background: url(/img/check.png) no-repeat 0 center;}
.protocol a{color: #008000;}
/*设置密码*/
.passNext{width:314px;height:40px;display: block;text-align: center;line-height: 40px;background: #40a336;color: #fff;border-radius: 5px;margin:0 0 0 84px;font-size: 14px;}
/*设置基本信息*/
.spanColor{padding-bottom:270px;}
.setHeadImg{padding-top: 50px;padding-bottom:46px;position: relative;}
.setHeadImg .imgTit{display:inline-block;position: absolute;left: 320px;top:90px;font-size: 12px;color:#f95339;display: none;}
.headImg{position:absolute;width: 100px;height: 100px;border: 1px solid #a8a8a8;top:10px;left:118px;border-radius: 4px;background: #eeeeee url(/img/bgHead.png) no-repeat center;}
.headImg img{display: block;width:100px;height: 100px;border-radius:4px;}
.fileHeadImg{position: absolute;left:234px;bottom:4px;width:68px;height:24px;background: #fff;border: 1px solid #A8A8A8;text-align: center;color: #7a7a7a;line-height:24px;cursor: pointer;}
#username{padding-left:16px;width:286px;}
ul li input[type="radio"]{width: 15px;height: 15px;vertical-align:middle; margin:-2px 5px 1px 0;}
ul li input[name="work"],ul li input[name="icInfo"]{width:270px;padding: 0px 20px 0px 16px;background: #fff url(/img/right_sanjiao.png) no-repeat 95% center;cursor: pointer;}
ul li select{width: 80px;height: 40px;border: 1px solid #a8a8a8;color: #666;}
.dates{font-weight: normal;margin:0 3px 0 3px;color: #666;}
.spanColor label span{display: inline-block;color:red;font-size: 14px;margin-right:2px;}
ul li input#woman{margin-left: 25px;}
ul li input#closePhone{margin-left: 12px;}
.confirmSub{width:314px;height:40px;display: block;text-align: center;line-height: 40px;background: #40a336;color: #fff;border-radius: 5px;margin:0 0 0 114px;font-size: 14px;cursor: pointer;}
/*选择兴趣分类*/
/*.MoreLiving .More_p_t{height:50px;text-align: center;line-height:50px;position: relative;}
.MoreLiving .More_p_t a.More_l_del{width:10px;height:10px;display: inline-block;background:url(/img/choseDel.png) no-repeat center;float:left;position:absolute;left: 15px;top:18px;}
.MoreLiving .More_p_t h3 a.keeps{float: right;display: inline-block;width: 50px;height: 22px;color: #fff;background: #1cbc10;border-radius: 2px;text-align: center;line-height: 22px;margin:16px 10px 0px 0px;}
.MoreLiving .More_p_t h3{font-size: 16px;font-weight:500;}
.MoreLiving{z-index:999;width:440px;border:1px solid #E5E5E5;background: #fff;position: fixed;top:50%;left: 50%;margin-top:-238px;margin-left:-220px;display: none;}
.MoreLiving .Living_list{height:426px;margin:0 0 0 10px;overflow: hidden;overflow-y:scroll;}
.MoreLiving .Living_list::-webkit-scrollbar{width:5px;}
.MoreLiving .Living_list::-webkit-scrollbar-track{background-color:#fff;}
.MoreLiving .Living_list::-webkit-scrollbar-thumb{background-color:#999;}
.MoreLiving .Living_list li{width:65px;margin: 0 0 15px 15px;text-align: center;float: left;cursor: pointer;position: relative;}
.MoreLiving .Living_list li h5{font-size: 14px;padding: 5px 0 0 0;color:#333;}
.MoreLiving .Living_list li span{font-size: 12px;color:#999;}
.MoreLiving .Living_list li img{width:65px;height: 65px;border-radius:3px;}
.MoreLiving .Living_list li i{display:inline-block;width:12px;height: 12px;background: url(/img/qz_xzxq_weixuanzhong.png) no-repeat center;position: absolute;top:53px;left:53px;}
.MoreLiving .Living_list li i.on{display:inline-block;background: url(/img/qz_xzxq_xuanzhong.png) no-repeat center;}*/
/*注册成功*/
.height300{height:300px;padding-top: 100px;}
.height300 p{padding-left:20px;background: url(/img/success.jpg) no-repeat left center;width:156px;height: 28px;line-height: 28px;text-align: center;margin: 0 auto;}
.logins{display: block;width: 68px;height: 30px;background:#f0efed;font-size:12px;color: #008000;text-align: center;line-height: 30px;border-radius: 2px;margin:10px auto;}
/*输入信息错误提示*/
.warn{position: absolute;top:-38px;left:150px;background: #fff url(/img/gantanhao.png) no-repeat 15px 11px;border: 1px solid #ccc;padding-left:15px;display: none;}
.warn p{font-size:12px;color: #333;text-align: center;padding:8px 15px;}
/*.point1{width:150px;height: 28px;}*/
.warn i{position: absolute;display: block;left:45%;top:30px;}
/*.point2,.point3{width:120px;height: 28px;}*/
/*.point4{width:140px;height: 28px;}
.point5{width:120px;height: 28px;}
.point6{width:130px;height: 28px;}*/


/*图片裁剪弹窗*/
.maskFix{width: 100%;height: 100%;position:fixed;left: 0;top: 0;background:#333333;opacity: 0.4;filter:alpha(opacity=40);z-index: 19;display: none;}
.maskCenter{width: 798px;height:484px;border: 1px solid #a8a8a8;background: #fff;position: fixed;z-index:20;left: 50%;top: 50%;margin:-242px 0 0 -394px;display: none;}
.errors{display: block;font-size:20px;font-weight:bold;color: #555659;text-align: right;margin:0px 10px 10px 0;cursor: pointer;}
.uploads{width:706px;height: 402px;margin: 0 auto;}
.leftBar{width: 490px;height: 402px;border-right: 1px solid #d1d1d1;float: left;}
.leftBar h4{font-size:16px;color:#333;margin-bottom:16px;font-weight: normal;}
.startUpload{width: 120px;height: 36px;background: #40a336;position: relative;}
.startUpload p{width: 120px;height: 36px;text-align: center;line-height: 36px;color: #fff;font-size: 14px;}
.startUpload input{display: block;width: 120px;height: 36px;opacity:0;filter:alpha(opacity=0);position:absolute;top:0px;left: 0;z-index: 99;}
.leftBar p.formatTit{font-size: 12px;color: #666;line-height: 30px;}
.upLoading{width: 440px;height: 24px;background: #f5f5f5;border-radius: 4px;display:none;}
span.name{font-size: 12px;color: #333;float: left;line-height: 24px;margin: 0 46px 0 10px;width: 86px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.progress{width:146px;height: 4px;background: #e6e2e2;float: left;margin:10px 3px 0 0;overflow: hidden;}
.progress .bar{width:100px;height: 4px;background: #008000;}
.pro{font-size: 12px;color: #008000;float: left;line-height: 24px;margin: 0 30px 0 2px;}
.stopErr{float: left;color: #333;font-size: 12px;line-height: 24px;cursor: pointer;}
.stopErr b{display:inline-block;font-size: 14px;color: #a5a5a5;}
.rightBar{float: left;width:215px;height: 402px;position: relative;}
.previewImg{cursor: pointer;width: 173px;height: 175px;background:#eeeeee url('/img/bgHead.png') no-repeat center;border-radius: 4px;position: absolute;right: 0px;bottom:50px;z-index: 999;overflow: hidden;}
.previewImg img{width: 173px;height: 175px;display: block;line-height: 175px;text-align: center;vertical-align: top;position:relative;}
.rightBar p{font-size: 14px;color:#3fa336;text-align: center;position: absolute;bottom:15px;left:100px;cursor: pointer;}
/*图片上传后*/
.headImgBox{width: 440px;height: 280px;border: 1px solid #a8a8a8;margin-top:40px;display:none;line-height: 280px;text-align: center;cursor: pointer;overflow: hidden;position: relative;display: none;}
.headImgBox img {max-width: 100%;vertical-align: middle;position: relative;}
/*出生年月日*/
select[name="years"] option{color:red;}
.stepCon3 .birthLi{position: relative;}
.stepCon3 .birthLi .dateT{position: absolute;font-size: 12px;color:#f95339;top:14px;right: -90px;display: none}

.workBoxR{width:480px;height: 480px;background:#fff;position: fixed;left:50%;top: 50%;margin:-240px 0 0 -240px;border: 1px solid #e5e5e5;display: none;}
.workBoxR .protitR{position:relative;height:55px;border-bottom: 1px solid #e5e5e5;line-height: 55px;text-align: center;font-size: 14px;color: #333333;}
.workBoxR .protitR span{font-size: 22px;color:#202020;position: absolute;right:5px;top:-15px;cursor: pointer;}
/*.workBox ul li{cursor: pointer;font-size:12px;margin-bottom:0px;position:static;}
.workBox .professional{width:200px;height:424px;overflow: hidden;overflow-y:scroll;}
.workBox ul li.state .profession{height:32px;line-height:32px;background:#f2f2f2;padding-left: 14px;}
.workBox .professional{width:200px;height:416px;overflow: hidden;overflow-y:scroll;}
.workBox .professional::-webkit-scrollbar,.chooseWork .child_lists::-webkit-scrollbar{width:5px;}
.workBox .professional::-webkit-scrollbar-track,.chooseWork .child_lists::-webkit-scrollbar-track{background-color:#fff;}
.workBox .professional::-webkit-scrollbar-thumb,.chooseWork .child_lists::-webkit-scrollbar-thumb{background-color:#999;}
.chooseWork{position: relative;}
.chooseWork .child_lists{position: absolute;left: 200px;top: 0px;width: 266px;height:424px;background: #fff;padding-left: 14px;overflow: hidden;overflow-y: scroll;}
.child_lists ul li{position: relative;}
.circleName{padding-top:15px;font-size:14px;color: #323232;padding-bottom:5px;}
.circlePerson{margin: 10px 0px;font-size: 12px;color: #818181;}
.introduction{color: #989898;font-size: 12px;margin-bottom: 10px;}
.introduction span{display: block;float: left;}
.introduction .wordInt{width:168px;color:#989898;font-size: 12px;font-style: normal;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;overflow: hidden;}
.join{border: 1px solid #e5e5e5;color: #feb041;font-size: 12px;display: block;position:absolute;right: 15px;top:20px;width: 50px;height: 20px;text-align: center;line-height: 20px;}
.imgLists dl{margin-right: -10px;margin-bottom: 10px;}
.imgLists dd{width:36px;height: 36px;margin-right:10px;float: left;}
.imgLists dd img{display:block;width: 36px;height: 36px;}*/


/*选择职业圈新改版开始*/

/*选择修改职业圈改版新添加开始*/
.chooseWorkR{height:424px;overflow: hidden;overflow-y: scroll;}
.autoTypeR ul{margin:0px 26px 2px;}
.autoTypeR ul>li{margin-bottom:15px;/*height: 115px;*/} 
.autoTypeR ul .wordPosR{position: relative;}
.autoTypeR ul .wordPosR div{width: 295px;marign-top:10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float: left;}
.autoTypeR ul .wordPosR div p{font-size: 14px;color: #343434;margin-top:10px;}
.autoTypeR ul .wordPosR div p span{font-size: 12px;color: #a6a6a6;display: inline-block;margin-left:10px;}
.autoTypeR ul .wordPosR div p span i{font-size: 12px;color: #a6a6a6;font-style: normal;}
.autoTypeR ul .wordPosR div b{font-weight:normal;font-size: 12px;color:#a6a6a6;margin:8px 0px 0px;display: inline-block;}
.autoTypeR ul .wordPosR a{display: inline-block;width: 48px;height: 22px;font-size: 14px;color: #fea910;border-radius:2px;border: 1px solid #fea910;text-align: center;line-height: 22px;float: right;margin-top:10px;/*position: absolute;top:5px;right: 0px;*/}
.autoTypeR ul .wordPosR a.on{color: #7fabea;border:1px solid #7fabea; }
.autoTypeR ul .imglisR{margin:10px 0px;}
.autoTypeR ul .imglisR ol li{float: left;width:72px;height: 56px;overflow:hidden;/*margin-right:5px;*/margin-right:2px;}
.autoTypeR ul .imglisR ol{margin-right:-5px;}
.autoTypeR ul .imglisR ol li img{display: block;width:100%;height:auto;min-height: 56px;}

.chooseWorkR .autoTypeR{padding-top:15px;}
.chooseWorkR::-webkit-scrollbar{width:5px;}
.chooseWorkR::-webkit-scrollbar-track{background-color:#fff;}
.chooseWorkR::-webkit-scrollbar-thumb{background-color:#999;}
.chooseWorkR::-webkit-scrollbar-thumb:hover {background-color:#9c3}
.chooseWorkR::-webkit-scrollbar-thumb:active {background-color:#00aff0}
